.container-flexbox-ItemList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 50px 50px 50px 50px;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-wrap: row;
  align-content: center;
  justify-content: center;
}

.content-wrap {
  flex: 1;
}

.container-flexbox-Footer {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-content: center;
  min-height: 250px;
  padding-top: 12px;
  background-color: #333333;
  color: #ffffff;
  margin-top: 125px;
}

.pagination-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.container-flexbox-chatroom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-flexbox-dashboard {
  display: flex;
  justify-content: center;
}
.container-flexbox-userprofile {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .container-flexbox-userprofile {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
