.container-flexbox-ItemList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 50px 50px 50px 50px;
}

.itemCard {
  border-radius: 15px;
  background-color: green;
  width: 20vw;
  height: 30vw;
}